@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h2
{
    color: rgb(8, 8, 8);
    font-size: 3em;
    box-shadow: 6px 8px 50px rgb(0, 0, 0);
    border-radius: 8px;
    position: relative;
    margin-left: 2.4em;
    margin-right: 2.4em;
    margin-bottom: 1.5em;
}
body
{
    background-image: url(ressources/ecran_base.png);
    background-size: 100%;
    background-color: rgb(201, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
form
{
    margin-top: 3em;
    background-color: rgb(240, 240, 240);
    padding: 2.5em 4em;
    min-width: 300px;
    border-radius: 12px;
}
form .inputs {
    display: flex;
    flex-direction: column;
}

form .inputs input[type='email'], input[type='password']{
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 15px;
}

form p.inscription{
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
}

form button{
    padding: 15px 25px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #fff;
    background-color: #eb7371;
    outline:none;
    cursor:pointer;
    margin-left: 6.5em;
}